proxy_location: EveryNode
http_options:
  host: 0.0.0.0
  port: 8000

applications:
  - name: models-qwen3-7B
    route_prefix: /models/Qwen/Qwen3-7B
    import_path: main:model_qwen3_7b
    args:
      model_id: "Qwen/Qwen3-7B"
      device_group:
        name: model
        ranks: [ 0,1,2,3 ]
        device_type: cuda
      device_mesh:
        device_type: cuda
        mesh: [[0,1], [2,3]]
        mesh_dim_names: ['dp', 'fsdp']
    deployments:
      - name: ModelManagement
        autoscaling_config:
          min_replicas: 1
          max_replicas: 1
          target_ongoing_requests: 16
        ray_actor_options:
          num_cpus: 0.1

  - name: processor
    route_prefix: /processors
    import_path: main:processor_app
    args:
      device_group:
        name: model
        ranks: [ 0,1,2,3 ]
        device_type: cuda
      device_mesh:
        device_type: cuda
        mesh: [[0,1], [2,3]]
        mesh_dim_names: ['dp', 'fsdp']
    deployments:
      - name: ProcessorManagement
        autoscaling_config:
          min_replicas: 1
          max_replicas: 1
          target_ongoing_requests: 128
        ray_actor_options:
          num_cpus: 0.1